@model Club.Models.Lugar

@{
    ViewData["Title"] = Model.Nombre;
}

<div class="row">
    <div class="col-md-6">
        <h2>@Model.Nombre</h2>
        <p>@Model.Descripcion</p>
        <ul>
            <li><strong>Dirección:</strong> @Model.Direccion</li>
        </ul>
    </div>
    <div class="col-md-6 text-center">
        <img src="@Model.LogoUrl" alt="@Model.Nombre" class="img-fluid" />
    </div>
</div>
